/*
.header {
    height: 100px;
    margin: 2% 20%;
    position: relative;
}

.logo {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
}
*/

.reg {
    position: absolute;
    top: 0px;
    right: 0px;
}

.reg div {
    display: inline-block;
    vertical-align: top;
}

.content {
    margin: auto 20%;
    padding: 0px;
}

#sidebar {
    width: 25%;
    //margin: 0px;
    margin-right: 10px;
    padding: 0px;
}

#sidebar>div {
    height: 200px;
    margin: 0px;
    padding: 5px;
    //margin-right: 10px;
    margin-bottom: 10px;
}

.articlenav {
    position: relative;
    //margin-right: 10px;
    //margin-bottom: 10px;
}

.albumnav {
    position: relative;
    //margin-right: 10px;
    //margin-bottom: 10px;
}

.maintitle {
    padding: 5px;
}

.article {
    position: absolute;
    top: -440px;
    left: 103%;
    height: 870px;
    width: 297%;
    display: block;
}

.arthead {
    position: relative;
}

.art {
    position: relative;
    height: 50px;
    width: 100% margin: 10px;
    padding: 5px;
    line-height: 40px;
}

.arttitle {
    padding: 5px;
}

.artstates {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 40px;
}

.artstates>div {
    float: right;
    padding: 5px;
}

.album {
    position: absolute;
    top: -660px;
    left: 103%;
    height: 870px;
    width: 297%;
    display: none;
}

.arttitle:hover {
    color: #ffffcc;
}

.article {
    background-color: #6699cc;
}

.album {
    background-color: #6699cc;
}

.artnav:hover {
    background-color: rgba(237, 217, 192, 0.6);
}

.albnav:hover {
    background-color: rgba(237, 217, 192, 0.6);
}

.maintitle {
    font-weight: bold;
    font-size: 1.2em;
}

.artstates {
    font-size: 0.7em;
}