.header{
	height: 100px;
	margin: 2% 20%;
	position: relative;
}
.logo{
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
}
.reg{
  position: absolute;
  top: 0px;
  right: 0px;
}
.reg div{
	display: inline-block;
	vertical-align: top;
}
.content{
  margin: auto 20%;
  padding: 0px;
  position: relative;
  height: 500px;
}
form{
	position: absolute;
	top: 150px;
	left: 0px;
	width: 100%
}
table{
	margin: 0px auto;
}
.remember{
	text-align: center;
}
.submit{
	text-align: center;
}









body{
  background-color: #ffffff;	
}
.header{
  background-color: #336699;
}
.content{
	color: #333333;
	background-color: #99ccff;
}