/*
.header {
    height: 100px;
    margin: 2% 20%;
    position: relative;
}

.logo {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
}
*/

.reg {
    position: absolute;
    top: 0px;
    right: 0px;
}

.reg div {
    display: inline-block;
    vertical-align: top;
}

.content {
    margin: auto 20%;
    padding: 0px;
    position: relative;
    height: 500px;
}

form {
    position: absolute;
    top: 150px;
    left: 0px;
    width: 100%
}

table {
    margin: 0px auto;
}

select {
    width: 160.8px;
    height: 22px;
}

.submit {
    text-align: center;
}

.content {
    color: #333333;
}